@import url("../../components/constants.css");

.row {
  padding: 8%;
}

.row__posters {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 90px 90px;
  justify-content: center;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  /* max-height: 100px; */
}

.poster {
  color: var(--light);
}

.poster:hover {
  transform: scale(1.03);
  cursor: pointer;
}

h2 {
  color: var(--light);
}

.title__list {
  text-align: center;
  padding: 5%;
}
